*{
    margin: 0;
    padding: 0;
}

.img-class-propio img{
    height: 50vh;
    object-fit: cover;
}
/* main{
    min-height: 100vh;
} */

.div-imagen img {
width: 200px;
}
/* .estilo-fila{
    min-height: 100vh;
} */